body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto; /* Общий скролл для страницы */
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

select, input[type="number"], input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[readonly] {
    background-color: #f9f9f9;
    cursor: not-allowed;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #0078d7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

.results {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.results h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.results p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
    line-height: 1.5;
}

.results strong {
    color: #0078d7;
}

.form-group-row {
    display: flex;
    gap: 10px; /* Расстояние между элементами */
    align-items: flex-end; /* Выравнивание по нижнему краю */
}

.form-group-row .form-group {
    flex: 1; /* Равномерное распределение пространства */
    margin-bottom: 5px; /* Убираем отступ снизу */
}

.form-group-row .form-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.form-group-row .form-group select,
.form-group-row .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.results p strong {
    color: #0078d7;
}

.results #totalResult {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
